.aboutContentBox {
    margin-bottom: 100px;
}

// About Styles
.aboutImgBox {
    width: 40%;
}

.aboutImgBox img {
    width: 100%;
}

.aboutContentBox {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;    
}

.aboutContentBox p {
    padding-top: 20px;
    padding-bottom: 100px;
}

.aboutParaBox {
    width: 40%;
}


// Skills Styles

.skillsContentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1450px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.skillsContentBox li {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 0 50px;
}

i {
    font-size: 10rem;
    width: 100px;
    height: 100px;
}

i:hover,
i:focus {
    color: $primary;
}

.skillsContentBox p {
    padding-top: 10px;
}

i,
.skillsContentBox li p {
    text-align: center;
}

.fa-terminal,
.fa-universal-access,
.fa-laptop-code {
    font-size: 8rem;
}

.javascriptBox,
.accessibilityBox,
.laptopBox {
    width: 150px;
    height: 180px;
}

li.javascriptBox {
    margin-bottom: 9px;
}

li.gitBox {
    padding-top: 25px;
}

.laptopBox p {
    padding-top: 20px;
}

// Portfolio Styles

.portfolioContentBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
}

.project1DetailBox,
.project6DetailBox {
    margin-right: 50px; 
}

.project3DetailBox {
    margin-left: 50px;
}

.project1DetailBox,
.project3DetailBox,
.project6DetailBox {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.portfolioContentBox p,
.portfolioContentBox img,
.project3ImgBox img {
    width: 100%;
}

.projectIconBox,
.projectLinkBox {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.projectIconBox i {
    font-size: 5rem;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.projectLinkBox li {
    padding-right: 10px;
    list-style-type: none;
}

.projectLinkBox a,
.pipePrimary {
    font-size: 2.5rem;
}

.portfolioContentBox p,
.projectIconBox {
    margin-bottom: 20px;
}

.projectIconBox li {
    margin: 0 10px;
}

.project3DetailBox .projectIconBox li:nth-child(6) {
    margin-top: 10px;
}

.project1ImgBox,
.project3ImgBox,
.project6ImgBox {
    width: 40%;
}

.backToTop {
    margin-bottom: 50px;
}

.backToTop p {
    display: flex;
    justify-content: center;
}

// Contact Me Styles

.contactDetailBox {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contactDetailBox div {
    width: 40%;
}

.contactDetailBox p,
.contactContentBox ul {
    display: flex;
    justify-content: center;
}

.contactContentBox p {
    margin-bottom: 35px;
}

.contactContentBox i {
    font-size: 7rem;
}

.contactContentBox i :hover,
.contactContentBox i :focus {
    color: $primary;
    border-bottom: $primary solid 7px;
}

form {
    display: flex;
    flex-direction: column;
    width: 25%;
}

input[type="text"],
input[type="email"],
textarea,
input[type="submit"] {
    font-size: 1.5rem;
    border-radius: 2%;
    max-width: 400px;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
    height: 40px;
}

input[type="text"],
input[type="email"] {
    padding-left: 4px
}

textarea {
    padding: 10px 0 80px 4px;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    color: $secondary;
    background-color: $primary;
    border: $primary 1px solid;
}

// backToTop Styles

.backToTop a {
    color: $quaternary;
    height: 35px;
}

.backToTop {
    margin-top: 100px;
}

.projectLinkBox a:hover,
.projectLinkBox a:focus,
.backToTop a:hover,
.backToTop a:focus {
    color: $primary;
    border-bottom: $primary solid 7px;
}
