
html {
    font-size: 62.5%;
}

body {
    font-family: 'Hammersmith One', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Fredoka One', cursive;
}

h2,
h4 {
    margin-bottom: 40px;
}

h1 {
    font-size: 8rem;
    width: 100%;
    margin-bottom: 50px;
}

h2 {
    font-size: 7rem;
}

h3 {
    font-size: 6rem;
    margin-bottom: 20px;
}

h4 {
    font-size: 5rem;
    text-align: center;
}

h4 span {
    border-bottom: $quaternary solid 7px;
}

h5 {
    font-size: 4rem;
    padding-bottom: 30px;
}

h5 span {
    border-bottom: $primary solid 7px;
}

p {
    font-size: 2rem;
}

li {
    font-size: 1.8rem;
}

.headerLeftDetailsBox a {
    font-size: 2rem;
}

