$primary: #53A2FF;
$secondary: #FFF;
$tertiary: #000;
$quaternary: #7F7F7F;
$quinary: #222222;

body {
    background-color: $quinary;
}

h1, 
h2, 
h3,
h5,
nav li,
p,
i,
.pipePrimary {
    color: $secondary;
}

h1 span,
.headerContentBox span,
h3 span,
h4,
.headerContentBox a,
footer p {
    color: $primary;
}

header ul a,
.headerRightDetailsBox p,
.aboutContentBox p,
.skillsContentBox li p,
.project1DetailBox p,
.project3DetailBox p,
.project6DetailBox p,
.projectLinkBox a {
    color: $quaternary;
}