$primary: #53A2FF;
$secondary: #FFF;
$tertiary: #000;
$quaternary: #7F7F7F;
$quinary: #222222;

body {
    background-color: $quinary;
}

h1, 
h2, 
h3,
nav li,
p {
    color: $secondary;
}

h1 span,
h3 span,
h4,
.headerContentBox a {
    color: $primary;
}

header ul a,
.headerRightDetailsBox p {
    color: $quaternary;
}
