a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1425px;
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

p {
  line-height: 3rem;
}

body {
  background-color: #222222;
}

h1,
h2,
h3,
h5,
nav li,
p,
i,
.pipePrimary {
  color: #FFF;
}

h1 span,
.headerContentBox span,
h3 span,
h4,
.headerContentBox a,
footer p {
  color: #53A2FF;
}

header ul a,
.headerRightDetailsBox p,
.aboutContentBox p,
.skillsContentBox li p,
.project1DetailBox p,
.project3DetailBox p,
.project6DetailBox p,
.projectLinkBox a {
  color: #7F7F7F;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Hammersmith One', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Fredoka One', cursive;
}

h2,
h4 {
  margin-bottom: 40px;
}

h1 {
  font-size: 8rem;
  width: 100%;
  margin-bottom: 50px;
}

h2 {
  font-size: 7rem;
}

h3 {
  font-size: 6rem;
  margin-bottom: 20px;
}

h4 {
  font-size: 5rem;
  text-align: center;
}

h4 span {
  border-bottom: #7F7F7F solid 7px;
}

h5 {
  font-size: 4rem;
  padding-bottom: 30px;
}

h5 span {
  border-bottom: #53A2FF solid 7px;
}

p {
  font-size: 2rem;
}

li {
  font-size: 1.8rem;
}

.headerLeftDetailsBox a {
  font-size: 2rem;
}

nav,
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  padding: 50px 0;
}

nav i {
  font-size: 4rem;
  padding: 30px 0px;
  margin-bottom: 20px;
  width: 50px;
  height: 80px;
}

nav a {
  padding: 0 20px;
  font-size: 3rem;
}

nav a span:hover,
nav a:focus,
nav i:hover,
nav i:focus {
  color: #53A2FF;
  border-bottom: #53A2FF solid 7px;
}

.pipe {
  font-size: 3.5rem;
  margin: 0 20px;
}

.headerContentBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 120px;
}

.headerContentBox h4 {
  text-align: left;
  margin-bottom: 40px;
}

.aboutContentBox img {
  width: 100%;
  border-radius: 50%;
  background-color: #53A2FF;
  padding: 10px;
}

.aboutContentBox {
  margin-bottom: 100px;
}

.aboutImgBox {
  width: 40%;
}

.aboutImgBox img {
  width: 100%;
}

.aboutContentBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 100px;
}

.aboutContentBox p {
  padding-top: 20px;
  padding-bottom: 100px;
}

.aboutParaBox {
  width: 40%;
}

.skillsContentBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1450px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.skillsContentBox li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px;
  margin: 0 50px;
}

i {
  font-size: 10rem;
  width: 100px;
  height: 100px;
}

i:hover,
i:focus {
  color: #53A2FF;
}

.skillsContentBox p {
  padding-top: 10px;
}

i,
.skillsContentBox li p {
  text-align: center;
}

.fa-terminal,
.fa-universal-access,
.fa-laptop-code {
  font-size: 8rem;
}

.javascriptBox,
.accessibilityBox,
.laptopBox {
  width: 150px;
  height: 180px;
}

li.javascriptBox {
  margin-bottom: 9px;
}

li.gitBox {
  padding-top: 25px;
}

.laptopBox p {
  padding-top: 20px;
}

.portfolioContentBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 100px;
}

.project1DetailBox,
.project6DetailBox {
  margin-right: 50px;
}

.project3DetailBox {
  margin-left: 50px;
}

.project1DetailBox,
.project3DetailBox,
.project6DetailBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

.portfolioContentBox p,
.portfolioContentBox img,
.project3ImgBox img {
  width: 100%;
}

.projectIconBox,
.projectLinkBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projectIconBox i {
  font-size: 5rem;
  width: 50px;
  height: 50px;
  margin: 10px;
}

.projectLinkBox li {
  padding-right: 10px;
  list-style-type: none;
}

.projectLinkBox a,
.pipePrimary {
  font-size: 2.5rem;
}

.portfolioContentBox p,
.projectIconBox {
  margin-bottom: 20px;
}

.projectIconBox li {
  margin: 0 10px;
}

.project3DetailBox .projectIconBox li:last-child {
  margin-top: 10px;
}

.project1ImgBox,
.project3ImgBox,
.project6ImgBox {
  width: 40%;
}

.backToTop {
  margin-bottom: 50px;
}

.backToTop p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.backToTop a {
  color: #7F7F7F;
  height: 35px;
}

.projectLinkBox a:hover,
.projectLinkBox a:focus,
.backToTop a:hover,
.backToTop a:focus {
  color: #53A2FF;
  border-bottom: #53A2FF solid 7px;
}

footer p {
  padding: 20px 0;
  text-align: center;
}
